*{margin:0;padding:0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
@font-face{
    font-family: 'PingFang';
    src: url(../font/PingFang\ Medium.ttf)
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{font:inherit;}
button{
    border: 1px solid transparent;  
    outline: none;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
body{
    min-width:1158px;
    height:100vh;
    background-image: url('../commonImages/背景@2x.png'); 
    background-position:left top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PingFang';
    font-size:16px;
} 
.boxWrapper{
    width:84.3rem;
    height:53.8rem;
    margin-left:auto;margin-right:auto;
    margin-top:1.4rem;
    margin-bottom:2rem;
    -webkit-box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
-moz-box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
}
/*navBar*/
#navBar{
    height:3.6rem;
    background:#3c92ff;
}
#navBar .item{
    float:left;
    font-size:1.4rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:3.6rem;
    margin-left:3rem;
}
#navBar .logout{
    float:right;
    line-height:3.6rem;
    margin-right:3rem;
}
#navBar .logout>img{
    width:2rem;
    transform: translateY(0.6rem);
}
#navBar .logout>span{
    font-size:1.1rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-left:1rem;  
    cursor: pointer;
}
#contentBox{
    width:84.3rem;
    height:50.2rem;
    display:flex;
}
aside.tabBar{
    width:15rem;
    height:50.2rem;
    background:#ffffff;
    -webkit-box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    -moz-box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    z-index:9;
}
aside.tabBar ul{
    margin-top:2.8rem;
}
 
aside.tabBar li{
    margin-bottom:2.4rem;
    color: #ced5e3;
    text-align: center;
    cursor: pointer;
}

aside li img{
    height:1rem;
    margin-right:0.4rem;
}
aside.tabBar li span{
    font-size:1.1rem;
    color: #9999cc;  
    font-weight:500; 
}
aside li .checkedItem{
    display: none;
}


/*taskContent*/
main.content{
    width:69.3rem;
    height:50.2rem;
    background:#f1f3f8;
    overflow: hidden;
}
main .contentWrapper{
    width:62.5rem;
    height:50.2rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.7rem;
    padding-bottom:3rem;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contentWrapper::-webkit-scrollbar {
    display: none;/*去掉滚动条*/
}
/*数量状态区域框框*/
.numSort{
    width:62.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top:2.2rem;
    margin-bottom:3.1rem;
}
.numSort .numSortBox{
    width: 12.1rem;
    height: 9.5rem;
    background: rgba(255,255,255,1);
    border-radius: 0.4rem;
    padding-top:0.8rem;
    padding-left:1.9rem;
}
.numSort .numSortBox hr{
    border:none;
    width:4.3rem;
    height:2px;
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}
.numSort .numSortBox .numSortNum{
    font-size: 2rem;
    font-weight: 600;
}
.numSort .numSortBox .numSortTitle{
    font-size: 1.3rem;
    font-weight: 500;
    color:rgba(51,51,51,1);
}
.color51Ft{
    color:rgba(51,51,51,1);
}
.blueFt{
    color: #1f85ff;
}

.greenFt{
    color: #65bd65;
}

.yellowFt{
    color: #f3a821;
}

.redFt{
    color: #f85353;
}
.blueBg{
    background: #1f85ff;
}

.greenBg{
    background: #65bd65;
}

.yellowBg{
    background: #f3a821;
}

.redBg{
    background: #f85353;
}
.color102Ft{
    color:rgba(102,102,102,1);
}
.bk4097ffBg{
    background: #4097ff;
}

/*手机号码使用状态区域*/
.phoneStateForm{
    width:62.5rem;
    height:37rem;
    background:rgba(255,255,255,1);
    border-radius: 0.4rem;
    position: relative;
}
.phoneStateForm .stateContainer{
    display: flex;
}
.phoneStateForm .stateContainer p{
    margin-top:1.1rem;
    margin-bottom:2.1rem;
    padding:0 2rem;
    border-right: 1px solid rgba(204,204,204,1);
}
.phoneStateForm .stateContainer p:last-child{
    border:none;
}
.phoneStateForm .stateContainer .all{
    font-size:1.2rem;
    font-weight: 500;
    color:rgba(64,151,255,1);
}
.phoneStateForm .stateContainer p{
    font-size:1.2rem;
    font-weight: 500;
}

/*状态具体内容li*/
.stateContent li.stateLi{
    width:17rem;
    height:9.5rem;
    background:rgba(255,255,255,1);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(51,51,51,0.1);
    -moz-box-shadow: 0px 2px 9px 0px rgba(51,51,51,0.1);
    box-shadow: 0px 2px 9px 0px rgba(51,51,51,0.1);
    border-radius: 0.4rem;
    margin-bottom:1.4rem;
    float:left;
    margin-right:1.7rem;
    margin-left:1.7rem;
}
.stateContent li.stateLi .headBox{
    width:100%;
    height: 1.8rem;
    border-radius: 0.4rem 0.4rem 0 0;
}
.stateContent li.stateLi .stateBox{
    width:14rem;
    height:2rem;
    margin-left:auto;
    margin-right:auto;
}
.stateContent li.stateLi .stateBox li{
    height:2.1rem;
    line-height: 2.1rem;
    border-bottom: 1px solid rgba(204,204,204,1);
}
.stateContent li.stateLi .stateBox span{
    font-size:0.8rem;
    font-weight:500;
    color:rgba(51,51,51,1);
}


/*页码区域*/
.numFoot{
    display: flex;
    justify-content: space-between;
    width:17rem;
    height:1.8rem;
    line-height: 1.8rem;
    position: absolute;
    bottom:0.7rem;
    right:1.3rem;
}
.numFoot p{
    word-spacing: 2px;
    text-align: center;
}
.numFoot .totalText,
.numFoot .eachPage{
    font-size:0.8rem;
    color:rgba(51,51,51,1);
    font-weight:500;
}
.numFoot .eachPage{
    width:5.6rem;
    height:100%;
    border:1px solid rgba(204,204,204,0.5);
}
.numFoot .changePage{
    font-size:0.8rem;
    color:rgba(64,151,255,1);
    font-weight:500;
    width:5.6rem;
    height:100%;
    border:1px solid rgba(204,204,204,0.5);
}
.numFoot .changePage img{
    width:0.4rem;
}
.numFoot .changePage .preImg{
    transform: translateX(-0.8rem);
}
.numFoot .changePage .nextImg{
    transform: translateX(0.8rem);

}