*{margin:0;padding:0;box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
@font-face{
    font-family: 'PingFang';
    src: url(../font/PingFang\ Medium.ttf)
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{font:inherit;}
button{
    border: 1px solid transparent;  
    outline: none;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
body{
    min-width:1158px;
    height:100vh;
    background-image: url('../commonImages/背景@2x.png'); 
    background-position:left top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PingFang';
    font-size:16px;
} 
.boxWrapper{
    width:84.3rem;
    height:53.8rem;
    margin-left:auto;margin-right:auto;
    margin-top:1.4rem;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
-moz-box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
box-shadow: 0px 19px 15px 12px rgba(228,239,255,1);
}
/*navBar*/
#navBar{
    height:3.6rem;
    background:#3c92ff;
}
#navBar .item{
    float:left;
    font-size:1.4rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:3.6rem;
    margin-left:3rem;
}
#navBar .logout{
    float:right;
    line-height:3.6rem;
    margin-right:3rem;
}
#navBar .logout>img{
    width:2rem;
    transform: translateY(0.6rem);
}
#navBar .logout>span{
    font-size:1.1rem;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-left:1rem;  
    cursor: pointer;
}
#contentBox{
    display:flex;
}
aside.tabBar{
    flex-shrink:0;
    width:15rem;
    height:50.2rem;
    background:#ffffff;
    -webkit-box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    -moz-box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    box-shadow: 5px 0px 8px -5px rgba(148,140,148,0.75);
    z-index:9;
}
aside.tabBar ul{
    margin-top:2.8rem;
}
 
aside.tabBar li{
    margin-bottom:2.4rem;
    color: #ced5e3;
    text-align: center;
    cursor: pointer;
}

aside li img{
    height:1rem;
    margin-right:0.4rem;
}
aside.tabBar li span{
    font-size:1.1rem;
    color: #9999cc;  
    font-weight:500; 
}
aside li .checkedItem{
    display: none;
}


/*内容区域*/
main.content{
    width:69.3rem;
    height:50.2rem;
    background:#f1f3f8;
    overflow: hidden;
}
main .contentWrapper{
    width:62.5rem;
    height:50.2rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:3rem;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contentWrapper::-webkit-scrollbar {
    display: none;/*去掉滚动条*/
}

/*内容框标题*/
p.contentTitle{
    font-size:1.7rem;
    color:rgba(64,151,255,1);
    font-weight:500;
}
/*五个框框*/
.contentSort{
    width:62.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top:2.2rem;
    margin-bottom:3.1rem;
}
.contentSort .sortBox{
    width: 9.8rem;
    height: 7.8rem;
    background: rgba(255,255,255,1);
    border-radius: 0.4rem;
    padding-top:0.8rem;
    padding-left:1.9rem;
}
.contentSort .sortBox hr{
    border:none;
    width:3.5rem;
    height:2px;
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}
.contentSort .sortBox .contentSortNum{
    font-size: 1.7rem;
    font-weight: 500;
}
.contentSort .sortBox .contentSortTitle{
    font-size: 1.1rem;
    font-weight: 500;
    color:rgba(51,51,51,1);
}
.blueFt{
    color: #1f85ff;
}

.greenFt{
    color: #65bd65;
}

.yellowFt{
    color: #f3a821;
}

.redFt{
    color: #f85353;
}
.blueBg{
    background: #1f85ff;
}

.greenBg{
    background: #65bd65;
}

.yellowBg{
    background: #f3a821;
}

.redBg{
    background: #f85353;
}
/*数量表区域*/
.dataFormWrapper{
    width:62.5rem;
    display: flex;
    justify-content: space-between;
}
.dataForm{
    width:29rem;
    height:23.2rem;
    background: rgba(255,255,255,1);
    border-radius: 0.4rem;
}
.formContainer{
    width:25.6rem;
    margin-left:auto;
    margin-right:auto;
}
.dataForm .dataTitle{
    margin:1rem 0;
}
.dataForm .dataTitle .dataTitle1{
    font-size:1.5rem;
}
.dataForm .dataTitle .dataTitle2{
    font-size:1.1rem;
    font-weight:500;
   color:#333333;
}
.dataContent{
    width:25.6rem;
}
.dataContent li{
    height:3rem;
    line-height:3rem;
    border-bottom:2px solid rgba(250,247,248,1);
    position: relative;
}
.dataContent li hr{
    border:none;
    height:2px;
    width:25.6rem;
    background: rgba(250,247,248,1);
}
.dataContent li .dataDetail,
.dataContent li .amount{
    font-size:1.1rem;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.dataContent li .amount{
    position: absolute;
    left:10.4rem;
}
.dataContent li button.check{
    height:2.1rem;
    width:4.3rem;
    border-radius:0.2rem;
    font-size:1.1rem;
    color:rgba(255,255,255,1);
    white-space: nowrap;
    background: #4097ff;
    position: absolute;
    left:20.5rem;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}